.main {
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 1.5rem;
}

.header :is(.tasksCreated, .tasksFinished) {
  display: flex;
  align-items: center;
  gap: 8px;

  & span {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--gray-200);
    font-size: 0.75rem;
    font-weight: bold;

    background: var(--gray-400);
    padding: 0.125rem 0.5rem;
    border-radius: 99px;
  }
}

.header .tasksCreated {
  & strong {
    color: var(--blue);
    font-size: 0.875rem;
  }
}

.header .tasksFinished {
  & strong {
    color: var(--purple);
    font-size: 0.875rem;
  }
}

.emptyList {
  padding: 4rem 0;
  color: var(--gray-300);
  text-align: center;

  border-top: 1px solid var(--gray-400);
  border-radius: 8px;

  & svg {
    margin-bottom: 1rem;
  }

  & p {
    line-height: 1.4;
  }
}

.tasksList {
  list-style: none;

  display: grid;
  align-items: flex-start;
  gap: 12px;
}

.tasksList li {
  padding: 1rem;
  border-radius: 8px;
  background: var(--gray-500);
  border: 1px solid var(--gray-400);

  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
}

.tasksList li p {
  font-size: 0.875rem;
  line-height: 1.4;
}

.tasksList li:has(input:checked) p {
  text-decoration: line-through;
  color: var(--gray-300);
}

.tasksList li input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid var(--blue);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: all 100ms;

  &:hover {
    border-color: var(--blue-dark);
  }
}

.tasksList li input[type="checkbox"]:checked {
  border-color: var(--purple-dark);
  background-color: var(--purple-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.tasksList li input[type="checkbox"]:checked::after {
  content: "";
  background-image: url("../assets/check-icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 8px;
  height: 5px;
}

.tasksList li input[type="checkbox"]:checked:hover {
  background-color: var(--purple);
  border-color: var(--purple);
}

.tasksList li button {
  background: transparent;
  border: none;
  line-height: 0;
  color: var(--gray-300);
  margin-left: auto;
  cursor: pointer;
  border-radius: 4px;

  transition: color 100ms;

  &:hover {
    color: var(--danger);
  }
}
